extends layout

block content  
  h1 
    i.fa.fa-lg.fa-pie-chart 
    span Daily Logger
  h2 Helping you log what you do.
  br
  if user && user.displayName
    p Welcome 
      span= user.displayName 
      span !
    a(href="/logout")
      button() Logout
  else
    p To log your activity, please login.
    a(href="/login")
      button() Login
